@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta:wght@300&family=Poppins:wght@300&family=Public+Sans:wght@200&display=swap');

*{
    font-family: 'Public Sans', sans-serif;

}
.navbar {
    background-color: rgb(14, 14, 121);
}
.menu {
   margin-top: 50px;
}

.aktif-kategori{
    font-weight: bold;
    color: navy ;

}
.aktif-kategori:hover{
    background-color: navy;
    color: white;
}
